.listado-izquierdo{


    display: none;

    @media (min-width: 768px){

        display:block;

}
}



.cuerpo p {
    padding: 5px 10px;
}


.cabecera-listado {
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
    text-align: center;
    padding-bottom: 25px;
   
   
}

.viajes_boton ,.noticias_boton,.comida_boton{

    margin-right: 1px;
    background-color:#4682B4;
    color: white;
    font-size: 15px;

}



.noticias-destacadas {
    margin-bottom: 50px;
}