.aside__contenido{


    display: none;

    @media (min-width: 768px){

        display:block;

}
}



.cuerpo p {
    padding: 5px 10px;
}


.aside__cabecera {
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
    text-align: center;
    padding-bottom: 25px;
   
   
}





.aside__noticias__destacadas {
    margin-bottom: 50px;
}